html,body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  letter-spacing: 0.2em;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 100px;
  height: 100px;
  font-size: 24px;
  z-index: 1;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:active {
  color: #34344A;
}

.nav {
  font-size: 14px;
}

#icons {
  background-color: rgb(63, 112, 157);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

#about {
  background-color: #34344A;
  color: white;
  text-decoration-style: wavy;
  font-size: 30px;
  text-align: center;
  padding: 60px 60px 60px 60px;
}

#information {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: space-around;
  padding: 50px 50px 50px 50px;
  font-size: 20px;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-icon {
  margin-bottom: 10px;
  width: 128px;
  height: 128px;
}

#concentration {
  font-size: 15px;
}

#name {
  font-weight: lighter;
}

#resume {
  color: lightblue;
  text-decoration: underline;
}

#education {
  /*background-color: #C89B7B;*/
  background-color: #4B8F8C;
  text-transform: uppercase;
  color: black;
  font-weight: lighter;
  font-size: 35px;
  padding: 50px 50px 50px 50px;
}

#experience{
  background-color: rgb(130, 61, 127);
  text-transform: uppercase;
  color: black;
  font-weight: lighter;
  font-size: 35px;
  padding: 50px 50px 50px 50px;
}

#projects{
  background-color: rgb(130, 117, 61);
  text-transform: uppercase;
  color: black;
  font-weight: lighter;
  font-size: 35px;
  padding: 50px 50px 50px 50px;
}

#flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 5px;
}

#list {
  margin-top: 40px;
  text-transform: none;
  font-size: 20px;
}

#list-title {
  font-size: 25px;
}

#blurb {
  font-size: 16px;
  font-weight: lighter;
  text-decoration-style: italic; 
}

#about-nav {
  cursor: pointer;
}

#education-nav {
  cursor: pointer;
}

#experience-nav {
  cursor: pointer;
}

#projects-nav {
  cursor: pointer;
}

#max {
 cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

#switch {
    animation-name:            rotate; 
    animation-duration:        2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}